<div class="container">
    <div class="card border-dark mt-3 mb-3">
        <div class="card-header bg-dark text-light text-center">Rutas para las secciones</div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion3">Seccion 3: Aplicacion #1: Hola Mundo</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion4">Sección 4: Aplicación #2: Aplicación de una sola página (SPA)</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion5">Sección 5: Pipes - Transforman los valores mostrados en pantalla</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion6">Sección 6: Aplicación #3: SpotiApp</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion7">Sección 7: Aplicación #4: Lista de deseos - IONIC App</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion8">Sección 8: Componentes, directivas de atributos, ciclo de vida y más...</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion9">Sección 9: Aplicación #5: Aplicación con autenticación Auth0</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion10">Sección 10: Bonus: Login tradicional y manejo de tokens - Firebase</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion11">Sección 11: Formularios en Angular</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion12">Sección 12: Aplicación #6: Uso del HTTP - CRUD - Firebase</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion13">Sección 13: Aplicación #7: FireChat - AngularFire2</a></li>
                </ul>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion14">Sección 14: Aplicación #8: PelículasApp</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion15">Sección 15: Applicación #8: PeliculasApp</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion16">Sección 16: Aplicación #9: Uso de Google Maps</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion17">Sección 17: Aplicación #10: Canal de Youtube</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion18">Sección 18: Desplegando las aplicaciones a producción.</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion19">Sección 19: Documentaciones útiles</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion20">Sección 20: Bonus - Fileupload hacia Firebase</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion22">Sección 22: Gráficas Dinámicas en Angular</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion23">Sección 23: Virtual Scroll y Drag-Drop nuevo en Angular 7</a></li>
                    <li class="list-group-item"><a class="link-underline-light" routerLink="/layouts/seccion24">Sección 24: Bonus: Angular, Firestore, Firebase functions, deployment y más</a></li>
                </ul>
            </div>
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="/layouts/seccion3">Seccion 3: Aplicacion #1: Hola Mundo</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion4">Sección 4: Aplicación #2: Aplicación de una sola página (SPA)</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 5: Pipes - Transforman los valores mostrados en pantalla</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 6: Aplicación #3: SpotiApp</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 7: Aplicación #4: Lista de deseos - IONIC App</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 8: Componentes, directivas de atributos, ciclo de vida y más...</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 9: Aplicación #5: Aplicación con autenticación Auth0</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 10: Bonus: Login tradicional y manejo de tokens - Firebase</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 11: Formularios en Angular</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 12: Aplicación #6: Uso del HTTP - CRUD - Firebase</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 13: Aplicación #7: FireChat - AngularFire2</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 14: Aplicación #8: PelículasApp</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 15: Applicación #8: PeliculasApp</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 16: Aplicación #9: Uso de Google Maps</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 17: Aplicación #10: Canal de Youtube</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 18: Desplegando las aplicaciones a producción.</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 19: Documentaciones útiles</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 20: Bonus - Fileupload hacia Firebase</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 18: Desplegando las aplicaciones a producción.</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 22: Gráficas Dinámicas en Angular</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 23: Virtual Scroll y Drag-Drop nuevo en Angular 7</a></li>
          <li class="list-group-item"><a routerLink="/layouts/seccion5">Sección 24: Bonus: Angular, Firestore, Firebase functions, deployment y más</a></li>
        </ul> -->
        <div class="card-footer bg-transparent text-center">Angular: De cero a experto (Legacy) --> Fernando Herrera, Perfil de udemy: <a target="_blank" href="https://www.udemy.com/user/550c38655ec11/">https://www.udemy.com/user/550c38655ec11/</a></div>
    </div>
    <router-outlet></router-outlet>
</div>